<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="connectionFactory" class="com.sun.messaging.ConnectionFactory" />

	<bean id="config" class="com.ripware.apps.activedirectory.ConsumerConfig">
	    <!--  cmd /f caused problems -->
	    <property name="addCommand" value="cmd /c powershell.exe -ExecutionPolicy Bypass -NoLogo -NonInteractive -NoProfile -WindowStyle Hidden -File $INSTALL_DIR\AddADUser.ps1 -n " />
	    <property name="addGroupCommand" value="cmd /c powershell.exe -ExecutionPolicy Bypass -NoLogo -NonInteractive -NoProfile -WindowStyle Hidden -File $INSTALL_DIR\AddADGroup.ps1 -g " />
	    <property name="addGroupMembersCommand" value="cmd /c powershell.exe -ExecutionPolicy Bypass -NoLogo -NonInteractive -NoProfile -WindowStyle Hidden -File $INSTALL_DIR\ADGroupMembers.ps1 -g " />

	    <!--  Determines if user information will be added to AD or not; true = added; false = not added -->
	    <property name="addInfo" value="false" />
	    <property name="path" value="OU=People,DC=domain,dc=local" /> <!-- Create users in this OU -->
	    <property name="AGroupPath" value="OU=PeopleGroups,DC=domain,dc=local" /><!-- creates security groups here -->
	    <!-- you can create security groups in different locations
			<property name="BGroupPath" value="OU=PeopleGroups,DC=domain,dc=local" />
	    <property name="CGroupPath" value="OU=PeopleGroups,DC=domain,dc=local" />
		  -->
	    <property name="domain" value="mydomain.local" />

	    <property name="messaging" value="true" />	<!-- turns messaging to rabbitmq.ripware.com on or off -->

	    <!-- LMB User + Destination/Topic -->
	    <!-- <property name="imqAddressList" value="mq://rabbitmq.ripware.com:7676/" /> Non-Encrypted -->
	    <property name="imqAddressList" value="mq://$JMS_SERVER:$PORT" />
			<property name="imqDefaultUsername" value="$USERNAME" />
			<property name="imqDefaultPassword" value="$PASSWORD" />
			<property name="imqDestination" value="com_sct_ldi_sis_Sync" /> <!-- Topic to connect to -->

			<property name="adsyncPort" value="8889" /> <!-- adsync opens a port to communicate with Preload_AD_Security_Groups -->
			<property name="createOrModifyUsers" value="true" /><!-- true to create and modify users; otherwise nothing will be done with user messages -->
	</bean>

	<bean id="xmlMessageCache" class="com.ripware.apps.activedirectory.cache.XMLMessageCache">
	    <property name="useCache" value="true" />	 <!-- Duplicate messages are sent from LMB. This property
	    												  when set to false tell the program to process every message
	    												  duplicate or not. When true, the program only processes unique
	    												  messages.
	    												   -->
	</bean>

	<!-- Used for caching person information to reduce db queries -->
	<bean id="cacheManager" class="net.sf.ehcache.CacheManager" />

	<bean id="personCache" class="com.ripware.apps.activedirectory.cache.EhcacheWrapper">
	    <constructor-arg><value>personCache</value></constructor-arg>
	    <constructor-arg><ref bean="cacheManager"/></constructor-arg>
	</bean>

	<!--  This is Database Configuration -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>oracle.jdbc.OracleDriver</value></property>
		<property name="url"><value>jdbc:oracle:thin:@$DB_SERVER:$DB_PORT:$SID</value></property>
		<property name="username"><value>$DB_USER</value></property>
		<property name="password"><value>$DB_PASS</value></property>
	</bean>

	<bean id="courseDAO" class="com.ripware.apps.activedirectory.db.CourseDAO">
	    <property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="personDAO" class="com.ripware.apps.activedirectory.db.PersonDAO">
	    <property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- LDAP (Active Directory) Configuration -->
	 <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <property name="contextSource" ref="contextSource" />
    </bean>

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="ldap://$AD_LDAP_SERVER" />
        <property name="userDn" value="CN=$AD_USERNAME" />
        <property name="password" value="$AD_PASSWORD" />
        <property name="pooled" value="false" />
    </bean>
</beans>
